@app-primary: #0f3460;
@app-secondary: #e94560;

@color_1: #555;
@color_2: darkgreen;
@font_family_1: Sans-serif;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family: @font_family_1;
  line-height: 1.5em;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: #bcce98;
}
#nav {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  width: 230px;
  overflow: auto;
  background: #dae9bc;
}
#logo {
  padding: 10px;
}
main {
  position: fixed;
  top: 100px;
  left: 230px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
}
.innertube {
  margin: 15px;
}
p {
  color: @color_1;
}
nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      color: @color_2;
      text-decoration: none;
    }
  }
}
* {
  html {
    body {
      padding: 100px 0 0 230px;
    }
    main {
      height: 100%;
      width: 100%;
    }
  }
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
// }

// .App-header {
//   background-color: @app-primary;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: @app-secondary;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
